<h1>Devices</h1>

<% if admin? %>
  <a class="btn btn-primary" href="/devices/new" role="button">Create</a>
<% end %>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Serial Number</th>
      <th scope="col">Model</th>
      <th scope="col">Firmware Version</th>
      <th scope="col">Last Contact Time</th>
      <th scope="col">Last Activation Time</th>
    </tr>
  </thead>
  <% @devices.each do |device| %><tr>
    <td scope="row"><a href="/devices/<%= device.id %>"><%= device.serial_number %></a></td>
    <td><%= device.model %></td>
    <td><%= device.firmware_version %></td>
    <td><%= device.last_contact %></td>
    <td><%= device.last_activation %></td>
  </tr><% end %>
</table>
