<section class="row justify-content-center">

  <div class="col-8">
  <h1>Create</h1>

  <form action="/groups" method="post" id="form">
    <div class="row mb-3">
      <div class="col-6">
        <label for="Name">Group Name</label>
        <input type="text" name="group[name]" id="name" class="form-control">
      </div>

      <div class="col-6">
        <label for="model">Group Privilege</label>
        <input type="text" name="group[privilege]" id="privilege"
          class="form-control">
      </div>
    </div> <!-- row -->

    <div class="row mb-3">
      <div class="col-6">
        <h4>Users</h4>
        <ul class="list-group d-flex justify-content-between mb-3">
        <% @users.each do |user| %>
          <li class="list-group-item lh-condensed">
            <input type="checkbox" name="group[user_ids][]" id="user_<%= user.id %>"
              value="<%= user.id %>">
            <label for="user_<%= user.id %>"><%= user.name %></label>
          </li>
        <% end %>
        </ul>
      </div>

      <div class="col-6">
        <h4>Devices</h4>
        <ul class="list-group d-flex justify-content-between mb-3">
        <% @devices.each do |device| %>
          <li class="list-group-item lh-condensed">
            <input type="checkbox" name="group[device_ids][]"
              id="device_<%= device.id %>" value="<%= device.id %>">
            <label for="device_<%= device.id %>"><%= device.serial_number %></label>
          </li>
        <% end %>
        </ul>
      </div>
    </div> <!-- row -->

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-block" id="create">
          Create
        </button>
      </div>
    </div> <!-- row -->

  </form>
  </div>

</section>
