<h1>Approvals</h1>

<% if @approvals.empty? %>
  No-one is awaiting approval
<% else %>
  <% @approvals.each do |approval| %>
    <form action="/users/approval" method="post" id="form_<%= approval.id %>">
      <input id="hidden_<%= approval.id %>" type="hidden" name="_method" value="patch">
      <input id="user_<%= approval.id %>" type="hidden" name="user" value="<%= approval.id %>">
      <div class="row">
        <div class="col-6">
          <h3>User</h3>
          <ul class="list-group d-flex justify-content-between mb-3">
            <li class="list-group-item lh-condensed">
              <div><h5>Name</h5></div>
              <span><%= approval.name %></span>
            </li>
            <li class="list-group-item lh-condensed">
              <div><h5>Username</h5></div>
              <span><%= approval.username %></span>
            </li>
            <li class="list-group-item lh-condensed">
              <div><h5>Email</h5></div>
              <span><%= approval.email %></span>
            </li>
          </ul>
        </div>

        <div class="col-6">
          <h3>Group</h3>
          <% @groups.each do |group| %>
            <input type="radio" name="group" value="<%= group.id %>"
              id="user<%= approval.id %>_group<%= group.id %>">
            <label for="user<%= approval.id %>_group<%= group.id %>">
              <%= group.name %>
            </label>
          <% end %>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-6">
          <button type="submit" class="btn btn-primary btn-block" id="approve<%= approval.id %>">
            Approve
          </button>
        </div>

        <div class="col-6">
          <button onClick="delete_device(<%= approval.id %>)" class="btn btn-danger btn-block"
            id="reject<%= approval.id %>">
            Reject
          </button>
        </div>
      </div>
    </form>
    <hr class="mb-3">
  <% end %>
<% end %>

<script>
function delete_device(id) {
  document.getElementById(`form_${id}`).action = `/users/${id}`
  document.getElementById(`hidden_${id}`).value = "delete"
  document.getElementById(`form_${id}`).submit()
}
</script>
