<section class="row">

  <div class="col-8">
  <h1>Edit</h1>

  <form action="/users/<%= @user.id %>" method="post" id="form">
    <input id="hidden" type="hidden" name="_method" value="patch">

    <div class="row mb-3">
      <div class="col-6">
        <label for="username">Username</label>
        <input type="text" name="user[username]" id="username"
          value="<%= @user.username %>" class="form-control">
      </div>

      <div class="col-6">
        <label for="model">Name</label>
        <input type="text" name="user[name]" id="name"
          value="<%= @user.name %>" class="form-control">
      </div>
    </div>

    <div class="col-12">
      <label for="email">Email</label>
      <input type="email" name="user[email]" id="email"
        value="<%= @user.email %>">
    </div>

    <h4>Group</h4>
    <ul class="list-group d-flex justify-content-between mb-3">
    <% @groups.each do |group| %>
      <li class="list-group-item lh-condensed">
        <input type="radio" name="device[group_ids][]" id="group_<%= group.id %>"
          value="<%= group.id %>" <%= 'checked' if @user.group == group %>>
        <label for="group_<%= group.id %>"><%= group.name %></label>
      </li>
    <% end %></ul>

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary btn-block" id="update">
          Update
        </button>
      </div>

      <div class="col-6">
        <button onClick="delete_device()" class="btn btn-primary btn-block"
          id="delete">
          Delete
        </button>
      </div>
    </div>

  </form>

</section>

<script>
function delete_device() {
  document.getElementById("hidden").value = "delete"
  document.getElementById("form").submit()
}
</script>
